@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:wght@100&family=Rubik:wght@300;400&family=Ubuntu+Mono&display=swap');
/* @import url("./component.css") */
body{
    font-family: sans-serif;
} 
 #card{
    border: 0.5px solid;
    border-radius: 0.5rem;
    box-shadow: 5px 10px #888888;
   width:22rem;
   margin:0 auto;
   display: flex;
   flex-direction: column;
}
img{
    width:7rem;
    height:7rem;
    border-radius: 0.5rem 0.5rem 0 0;
}
.line-p{
    line-height: 40%;
    padding: 1rem;
}
small,p{
    color:rgb(163, 159, 159);
}
p{
    font-size: 0.9rem;
    padding: 0.5rem;
    
}


.top{
    cursor: pointer;
    display: flex;
    flex-direction:row ;
}
.top:hover{
    background-color:rgb(236, 225, 225);
}

.btm{

    display: flex;
    flex-direction: row;
}
.left_side,.right_side{
    display: flex;
    flex-direction: row;
    /* flex-flow: row wrap;
     */
}
.left_side{
    color:blue;
    margin-right: auto;
    gap:1rem;
}
.rgt-icn:hover{
    cursor: pointer;
    background-color:rgb(236, 225, 225);
    border-radius: 50%;
    /* justify-content: center;
    align-items: center; */
}
.lft-icn:hover{
    cursor: pointer;
    background-color:rgb(236, 225, 225);
    border-radius: .2rem;
}





